


{% macro card_component(image, name, pair, price, id, trend, color) -%}
<div class="col-md-4 py-2">
  <div class="card" style="border-width: 1.5px;border-color: {{ color }}">
      <div class="card-header bg-secondary">
        <div class="row">
            <div class="col">
                <div class="d-flex p-2">
                    <img src="static/images/{{image}}" class="coin-logo" style="object-fit: cover;">
                    <h5 class="card-title text-white" style="margin-left: 10px;">{{name}}</h5>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end p-2">
                  <span class="fw-bold text-white" id="price-{{id}}"></span>
                </div>
            </div>
          </div>
      </div>
      <div class="card-body">
        {% if trend == "Compra" %}
            <div class="d-flex justify-content-evenly">
                <p class="fs-5 text-success">Recomendação </p>
                <p class="fs-5 text-success" id="card-{{ id }}">{{ trend }}</p>
            </div>
        {% elif trend == "Venda" %}
            <div class="d-flex justify-content-evenly">
              <p class="fs-5 text-danger">Recomendação </p>
              <p class="fs-5 text-danger" id="card-{{ id }}">{{ trend }}</p>
          </div>
        {% elif trend == "Neutro" %}
            <div class="d-flex justify-content-evenly">
              <p class="fs-5 text-secondary">Recomendação </p>
              <p class="fs-5 text-secondary" id="card-{{ id }}">{{ trend }}</p>
          </div>
        {%  endif %}
        <div class="d-flex justify-content-evenly p-2">
          <a href="/coin/{{ name }}">
            <button class="btn btn-primary" type="button">Ver mais</button>
          </a>
      </div>
      </div>
  </div>
</div>
{%- endmacro %}