{% extends "layouts/base.html" %}


{% block title %}
    <title>Coin {{crypto_name}}</title>
{% endblock %}


{% block content %}
<script>
    let crypto =  {{ crypto_name|tojson }};
</script>


<div class="container py-2">
  <a href="{{ url_for('home.index') }}"  class="btn btn-primary">Voltar</a>
  <div class="d-flex justify-content-between p-2 align-items-baseline">
    <p></p>
    <h4 class="fw-bold fs-4 text">{{ crypto_name|upper }}</h4>
    <p class="fw-bold">Preço atual: {{ price_current }}</p>
  </div>

  <div class="container">
      <div class="dropdown">
          <span>Prever: </span>
          <button class="btn btn-info dropdown-toggle me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-activity"></i>
            Dias
          </button>
          <ul class="dropdown-menu">
              {% for day in range(1,8) %}
              <li><a class="dropdown-item" onclick="get_day('{{day}}', crypto)" id="day_predict_{{day}}" href="#">{{ day }} dias</a></li>
              {% endfor %}
          </ul>
          <span id="preview-day"> 2 dias</span>
        </div>
    </div>
</div>


  <table class="table table-dark table-striped">
    <thead >
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Preço {{ symbol|upper }}-USD</th>
      </tr>
    </thead>
    <tbody id="tbody-predict">
      
    </tbody>
  </table>

{% endblock %}
