{% extends "layouts/base.html" %}


{% block title %}
    <title>Coin {{crypto_name}}</title>
{% endblock %}


{% block content %}
<script>
    let crypto =  {{ crypto_name|tojson }};
</script>


  <div class="container py-2">
    <a href="{{ url_for('home.index') }}"  class="btn btn-primary">Voltar</a>
    <div class="d-flex justify-content-center p-2 align-items-baseline">
      <p></p>
      <h4 class="fw-bold fs-4 text">{{ crypto_name|upper }}</h4>
    </div>


    <div class="d-flex justify-content-center">
      <div class="btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" value="1" onchange="loadData" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">1 Dia</label>
    
        <input type="radio" class="btn-check" value="7" name="btnradio" id="btnradio7" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio7">7 Dias</label>
      
        <input type="radio" class="btn-check" value="14" name="btnradio" id="btnradio14" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio14">14 Dias</label>
      
        <input type="radio" class="btn-check" value="30" name="btnradio" id="btnradio30" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio30">30 Dias</label>
    
        <input type="radio" class="btn-check" value="90" name="btnradio" id="btnradio90" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio90">90 Dias</label>
      
        <input type="radio" class="btn-check" value="180" name="btnradio" id="btnradio180" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio180">180 Dias</label>
      
        <input type="radio" class="btn-check" value="365" name="btnradio" id="btnradio365" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio365">365 Dias</label>
    
        <input type="radio" class="btn-check" value="max" name="btnradio" id="btnradiomax" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradiomax">Max</label>
      </div>
    </div>
    
      <div class="container" id="chart-candlestick-coin"></div>

      <div class="table-responsive-sm table-responsive-md table-responsive-lg">
        <table class="table table-dark table-sm table-lg table-striped">
          <thead >
        <tr>
          <th scope="col" class="text-center">Dia Previsto</th>
          <th scope="col" class="text-center">Preço Atual {{ symbol|upper }}-USD</th>
          <th scope="col" class="text-center">Preço Predição {{ symbol|upper }}-USD</th>
        </tr>
      </thead>
      <tbody >
        <tr class="table-success">
          <th class="text-center" scope="row">{{ prediction.day_predict }}</th>
          <td class="text-center" id="price-current">{{ prediction.price_current }}</td>
          <td class="text-center" id="price-predict">{{ prediction.price_predict }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

{% endblock %}


{% block javascript %}

  <script src="{{ url_for('static', filename='js/charts/candlestick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/coin.js') }}"></script>

{% endblock %}
