{% extends "layouts/base.html" %}


{% block title %}
    <title>Coin {{crypto_name}}</title>
{% endblock %}


{% block content %}
<script>
    let crypto =  {{ crypto_name|tojson }};
</script>


<div class="container py-2">
  <a href="{{ url_for('home.index') }}"  class="btn btn-primary">Voltar</a>
  <div class="d-flex justify-content-between p-2 align-items-baseline">
    <p></p>
    <h4 class="fw-bold fs-4 text">{{ crypto_name|upper }}</h4>
    <p class="fw-bold">Preço atual: {{ price_current }}</p>
  </div>


  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" value="1" onchange="loadData" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1">1 Dia</label>
  
      <input type="radio" class="btn-check" value="7" name="btnradio" id="btnradio7" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio7">7 Dias</label>
    
      <input type="radio" class="btn-check" value="14" name="btnradio" id="btnradio14" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio14">14 Dias</label>
    
      <input type="radio" class="btn-check" value="30" name="btnradio" id="btnradio30" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio30">30 Dias</label>
  
      <input type="radio" class="btn-check" value="90" name="btnradio" id="btnradio90" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio90">90 Dias</label>
    
      <input type="radio" class="btn-check" value="180" name="btnradio" id="btnradio180" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio180">180 Dias</label>
    
      <input type="radio" class="btn-check" value="365" name="btnradio" id="btnradio365" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio365">365 Dias</label>
  
      <input type="radio" class="btn-check" value="max" name="btnradio" id="btnradiomax" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradiomax">Max</label>
    </div>
  </div>
  
    <div class="container" id="chart-candlestick-coin"></div>

  <div class="container p-3">
      <div class="dropdown">
          <span class="fw-bold">Prever: </span>
          <button class="btn btn-info dropdown-toggle me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-activity"></i>
            Dias
          </button>
          <ul class="dropdown-menu">
              {% for day in range(1,8) %}
              <li style="cursor: pointer;"><a class="dropdown-item" onclick="get_day('{{day}}', crypto)" id="day_predict_{{day}}">{{ day }} dias</a></li>
              {% endfor %}
          </ul>
          <span value="1" id="preview-day"> 1 dia</span>
        </div>
    </div>



  <table class="table table-dark table-striped">
    <thead >
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Preço {{ symbol|upper }}-USD</th>
      </tr>
    </thead>
    <tbody id="tbody-predict">
      
    </tbody>
  </table>
</div>

{% endblock %}


{% block javascript %}

  <script src="{{ url_for('static', filename='js/charts/candlestick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/coin.js') }}"></script>

{% endblock %}
