{% extends "layouts/base.html" %}

{% from 'macros/macro.html' import card_component %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}

<script>
  let crypto_corr =  {{ crypto_corr|tojson }};
</script>

    <div class="container">
      <div class="row hidden-md-up">
        {% for item in content_cards %}
          {% if item.trend == "Compra" %}
              {{ card_component(item.image, item.name, item.pair, item.price, item.id, item.trend, "green") }}
          {% elif item.trend == "Venda" %}
            {{ card_component(item.image, item.name, item.pair, item.price, item.id, item.trend, "red") }}
          {% else %}
            {{ card_component(item.image, item.name, item.pair, item.price, item.id, item.trend, "gray") }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
     
    <div id="chart-heatmap"></div>

{% endblock %}

{% block javascript %}

  <script  src="{{ url_for('static', filename='js/requests/predictCrypto/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts/heatmap.js') }}"></script>
  <script  src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}