matplotlib==3.5.3; python_version >= "3.7"
numpy==1.23.2; python_version >= "3.7"
pandas==1.4.4; python_version >= "3.7"
joblib==1.2.0; python_version >= "3.7"
scikit-learn==1.0.2;  python_version >= "3.7"
yfinance==0.1.74; python_version >= "3.7"